﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.titleBox {
padding:20px;
}

.breaking {
    background-color: #FF2D1E;
    color: white;
}
.breaking p {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
}
.breaking a {
color: white;
font-weight: bold;
}