﻿@model IEnumerable<GiveMeSport.Models.Content>

@{
    var displayBreaking = "display:none";

    if (Model.Count() > 0)
    {
        displayBreaking = "display:block";
    }
}

<div class="breaking" style="@displayBreaking">
    <p>BREAKING NEWS</p>
    <table class="table">

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a href="@item.Link" target="_blank"> @Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishedDate)
                </td>
            </tr>
        }
    </table>
</div>