﻿@model IEnumerable<GiveMeSport.Models.Content>
@{
    ViewBag.Title = "Home Page";
}
<div class="titleBox">
    <h1>Latest News From Give Me Sport</h1>
</div>

@Html.Action("BreakingNews")

<table class="table">

    @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a href="@item.Link" target="_blank"> @Html.DisplayFor(modelItem => item.Title)</a>
                </td>               
                <td>
                    @Html.DisplayFor(modelItem => item.PublishedDate)
                </td>    
            </tr>
            }
</table>